.BurgerMenu {
    align-self: center;
    display: none !important;
}
.BurgerMenu__button {
    background-color: white;
    border: none;
}
.burgerMenu__header {
    background-color: rgba(2, 148, 145, 1);
}
.burgerMenu__body {
    display: flex;
    flex-direction: column;
    background-color: rgba(2, 148, 145, 1);
}
.burgerMenu__link {
    opacity: 40%;
    align-self: center;
    margin: 60px 0 15px 0;
    color: #FFFFFF;
    text-decoration: none;
    pointer-events: none;
}

.nav {
    color: rgb(255, 255, 255);
}

.button {
    width:80%;
    height:52px;
    background-color: #7CE3E1;
    color:black;
    border: none;
    border-radius: 5px;
    margin:0 auto;
}

.own {
    background-color: white;
    border: none;
    outline: none !important;  
}

.closeButton > button {
    background: center url('./close.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .BurgerMenu {
        display: block !important; 
    }
}