.greenBlock {
    display: flex;
    border-radius: 5px;
    height: 158px;
    border:2px solid rgba(2, 148, 145, 1);
    margin: 0 10px 107px 10px;
}

.sections {
    width: 10%;
    text-align: center;
    color: white;
    background-color: rgba(2, 148, 145, 1);
    padding-top: 12px;
    line-height: 40px;
}

.periodItemCss {
    padding: 5px 0;
    margin:10px 0;
    background-color: white;
    text-align: center;
    border-right: 3px solid #94949466;
    line-height: 40px;
}

.slider-wrap {
    width: 90%;
}
.resultMain__section {
    margin:20px 0;
    color: rgba(148, 148, 148, 1);
}

.period__item {
    width:33%;
}

.blockMobile {
    width: 90%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 auto;
}

.sectionsMobile {
    display:flex;
    justify-content: space-between;
    background-color: rgba(2, 148, 145, 1);
    text-align:center;
    align-items: center;
    color: white;
    border-radius: 5px 5px 0 0;
    height: 40px;
}

.periodItemCssMobile {
    display:flex !important;
    justify-content: space-between !important;
    text-align:center;
    border-radius:0 0 5px 5px;
    height: 40px;
    align-items: center;
}

.sectionsMobile__item {
    width:33%;
}

