.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    width: -webkit-fill-available;
}

.form__label {
    color: rgba(148, 148, 148, 1);
}

.form__loginInput {
    height: 43px;
    border-radius: 5px;
    border: 2px solid rgba(199, 199, 199, 1);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
}

.form__errText {
    display: block;
    align-self: center;
    margin: -8px auto 10px auto;
    color: rgba(255, 89, 89, 1);
}